<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.christian.zanthus">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tenda"
        android:label="PDV TENDA 2018"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Carregar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PesquisaFalhas"></activity>
        <activity android:name=".Funcoes_PDV"></activity>
        <activity android:name=".Manager"></activity>
        <activity android:name=".Dicas"></activity>
        <activity android:name=".Principal"></activity>
    </application>

</manifest>